*{ 
  box-sizing: border-box
  }

[class*="col"] {
        float: left; 
        padding:15px; 
        }

.row::after {
        content: "";
        clear: both;
        display: block;
        }

@font-face {
  font-family: GaMaamli;
  src: url(Fonts/GaMaamli-Regular.ttf),
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Playwrite;
  src: url(Fonts/PlaywriteCU-VariableFont_wght.ttf),
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: GaMaamli;
}

h2 {
  font-family: Playwrite;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h1, h2 {
  text-align: center;
  color: #333; 
}

.review input[type="text"] {
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
  background-image: url(img/gray_background_for_websites.jpg)
}

p {
  font-family: 
}

.highlight {
    color: red; 
    font-weight: bold; 
}
